body {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

h1 {
  font-size: 52px;
  line-height: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.bottom-margin {
  margin-bottom: 50px;
  color: cornflowerblue;
}

h2 {
  color: blueviolet;
}

.headerImage {
  width: 100%;
  height: auto;
}
